<h1>ホーム</h1>

<p>
	入力画面・確認画面・完了画面の問い合わせフォームのサンプル
</p>

<ul>
	<li><a href="/inquiries/new">お問い合わせ　入力画面</a></li>
	<li><a href="/admin/inquiries/">お問い合わせ　一覧画面</a></li>
</ul>

<h2>TODO</h2>
<ul>
	<li>adminルーティングで一覧画面はadmin専用にする</li>
</ul>
